body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 20px;
}

.box {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 6px;
}

input {
  width: 100%;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  width: 100%;
  background: #2c7be5;
  color: white;
  border: none;
  cursor: pointer;
}

pre {
  background: #222;
  color: #0f0;
  padding: 10px;
}
